<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Detail</title>
</head>

<body>

    <nav>
        <li>
            <a href="{% url 'todo_list_list' %}"> Main </a>
        </li>
    </nav>
    <h1> {{list_object.name}} </h1>
    <div>


        <p><a href="{% url 'todo_list_update' list_object.id%}"> Edit </a></p>
        <p><a href="{% url 'todo_list_delete' list_object.id%}"> Delete </a></p>

        <h2>Tasks</h2>
        <table>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
            {% for item in list_object.items.all %}
            <tr>
                <td><a href="{% url 'todo_item_update' list_object.id%}"> {{item.task}}</a></td>
                <td>{{item.due_date}}</td>

            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>