<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <nav>
        <li>
            <a href="{% url 'todo_list_list' %}"> Main </a>
        </li>
    </nav>
    <main>
        <div>
            <h1> Update item </h1>
            <form method="post">
                {% csrf_token %}
                {{post_form.as_p}}
                <button>Update</button>
            </form>
        </div>
    </main>
</body>

</html>